:root {
  --color-brand: #2b7fff;
  --color-primary: #011c44;
  --color-white: white;
  --color-black: black;
  --color-gray: #747272;
  --color-secondary: #011f4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
