.button {
  padding: 12px 24px;
  margin-bottom: 8px;
  color: #ffffff;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.17;
  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
    margin-bottom: 14px;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.15;

    border-radius: 32px;
  }
  &:hover {
    color: var(--color-primary);
    background-color: transparent;
    font-weight: 600;
  }
}
.form-button {
  display: block;
  margin: 0 auto 8px;
  line-height: 1.17;
  &:hover {
    color: var(--color-white);
  }
}
