.background {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 840px;
  @media screen and (min-width: $bp-desktop) {
    background-position: 0 1350px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/background@2x.png);
  }
}
