.contacts-section {
  &__contact-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }
  &__form {
    background: url(/images/Vector1modm.png) left 267px,
      url(/images/Vector2modm.png) 15px top,
      url(/images/Vector3modm.png) right 20px,
      url(/images/Vector4modm.png) right 26px,
      url(/images/Vector5modm.png) 110px bottom,
      url(/images/Vector6modm.png) right 250px,
      url(/images/Vector7modm.png) 124px 98px,
      url(/images/Vector8modm.png) left 64px,
      url(/images/Vector9modm.png) left 216px,
      url(/images/Vector10modm.png) right 65px;
    background-repeat: no-repeat;
    background-color: var(--color-primary);
    border: 2px solid var(--color-secondary);
    padding: 22px 40px;
    min-width: 320px;
    text-align: center;
    border-radius: 24px;
    margin: 0 auto;
    @media screen and (min-width: $bp-tablet) {
      background: url(/images/Vector1mod.png) left top,
        url(/images/Vector2mod.png) 230px top, url(/images/Vector3mod.png),
        url(/images/Vector4mod.png) right 203px,
        url(/images/Vector5mod.png) 166px bottom,
        url(/images/Vector6mod.png) left 25px;
      background-repeat: no-repeat;
      padding: 44px 52px;
      border: 4px solid var(--color-secondary);
      min-width: 430px;
      border-radius: 32px;
      background-color: var(--color-primary);
    }
  }
  &__form__field {
    padding-bottom: 16px;
  }
  &__map {
    margin: 0 -24px;
    height: 232px;
    border: none;
    border-radius: 32px;
    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 605px;
      height: 485px;
    }
  }
}
